.cadastrarUsuario {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

body {
  background-image: url(/Frontend/imgs/yasuo\ code.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.botoes {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.titles {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.container {
  height: 3vh;
  margin-top: 30vh;
}

.container ul {
  text-align: center;
}
