.cadastrarUsuario {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

body {
  background-image: url(/Frontend/imgs/hello\ code.png);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 20px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.titles {
  color: rgb(255, 1, 221);
  font-size: 70px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.container {
  height: 3vh;
  margin-top: 30vh;
}

.container ul {
  text-align: center;
}
