.botoes {
  display: flex;
  justify-content: space-between;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(/Frontend/imgs/hashira\ code.png);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.titles {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}
.subtitles {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: sans-serif;
}
.bordas {
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.377);
  border-radius: 15px;
  padding: 25px;
  backdrop-filter: blur(8px);
}
