body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(/Frontend/imgs/hashira\ code.png);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.titles {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.subtitles {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}
.bordas {
  box-shadow: 1px 3px 3px 3px purple;
  border-radius: 15px;
  padding: 25px;
}
